<a href="/">Go back</a>
<h2>New Message</h2>
<form method="POST" action="/new">
  <div>User: <input type="text" name="user" /></div>
  <div>Text: <input type="text" name="text" /></div>

  <button type="submit">Save</button>
</form>
